@charset "UTF-8";
@font-face {
    font-family:'android';
    src: url('fontes/idroid.otf') format('opentype');
}
/* Paleta de cores
    #84E1AD
    #38CA79
    #1A5C38

*/
body { 
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84E1AD;

}
header {
    background-image:linear-gradient(to bottom, #38CA79,#1A5C38);
    margin: 0px;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
    text-align: initial;
}
main {
    margin: auto;
    max-width: 850px;
    background-color: white;
    margin-top: 1px;
    text-align: initial;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.514);
    border-radius: 0px 0px 10px 10px;
}
h1#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;
}
p#subtitle {
    color: rgba(245, 245, 245, 0.801);
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.212);
    text-align: center;
}
nav > a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}
a:hover {
    color: #84E1AD;
}
p {
    text-align: justify;
    text-indent: 32px;
    margin: 10px
}
h1 {
    font-family: 'android';
    color: #1A5C38;
    margin: 1px 10px 0px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2 {
    font-family: 'android';
    color: #1A5C38;
    background-image: linear-gradient(90deg, #84E1AD, white);
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.destaque {
    font-weight: bold;
    color: #1A5C38;
    text-decoration: none;
}
picture.center {
    display: block;
    text-align: center;
}
img.center{
    text-align: center;
}
div.center{
    text-align: center;
}
div#video {
    text-align: center;
    width: 850px;
    height: 400px;
    background-color: #1A5C38;
    margin: 0px;
}
iframe {
    margin: 30px auto;
    width: 582px;
    height: 340px;
}
div#extra {
    background-color: #a8dabe;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.425);
}
div#extra > h3 {
    background-color: #1A5C38;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
div#extra > p {
    padding: 10px;
}
ul {
display: inline-block;
}
footer {
    padding: 5px;
    background-color: #1A5C38;
    margin-top: 20px;
    text-align: center;
}
footer > p {
    margin: 2px;
    text-align: center;
    color: white;
}
p#last {
    margin-bottom: 0px;
    padding-bottom: 10px;
}
span#negrito {
    font-weight: bold;
}
li {
    list-style-type: "\2714";
    padding-left: 15px;
}
ul#tabela2 {
    margin-left: 100px;
}
span.underline {
    text-decoration: underline;
}
iframe {
   max-width: auto;
   max-height: auto;
}




